# Node
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor stuff
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Env files (معلومات حساسة زي مفاتيح API)
.env
.env.*
!.env.example

# Cache
.cache/
.tmp/
.eslintcache
vite.config.timestamp-*
vite.config.tsbuildinfo
